body{
    
    background-color: #040477;
}
#loginForm{
    background-color: white;
    width: 40%;
    position: relative;
    margin: 50px auto;
    border: 1px solid #b0adad;
    padding: 90px;
    border-radius: 60px;
    box-shadow: 0px 5px 30px #dcd4d4;
}
h2{
    color: #040477;
    text-align: center;
    margin-bottom: 70px;
}
.inputDiv{
    margin-bottom: 30px!important;
}
.btn{
    position: relative;
    left: 90px;
    background-color: #040477;
    position: relative;
    left: 100px;
    top: 30px;
    color: white;
    border-radius: 10px;
}
@media screen and (max-width:992px) {
    #loginForm{
        width: 95%;
    }
    .btn{
        left: unset;
    }
}