/*This style page is for home */
*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box ;
}
body{
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
  }
hr{
    background-color: #aca7a7;
    box-sizing: content-box;
    height: 0.5px;
    overflow: visible;
    width: 8%;
    margin: 0 auto;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    color: inherit;
    border-top: 1px solid rgba(0,0,0,.1);
    opacity: unset!important;
}
/************************ Header ************************/
header{
    height: 890px;
}
header .container-fluid {
    margin: 0 !important;
    padding: 0 !important;
    position: absolute;
    top: 0;

}
.header-container,
.header-video,
.header-video video{
  width:100% ;
}
.header-video
{
  opacity: 0.6;
  z-index: -1;
}
.header-container{
    position: absolute;
    top:0px;
}
/***** Navbar ****/
.navbar{
  position: absolute;
  top: 0;
  width: 100%;
  height: 150px;
  text-align: left;
  float: left;
  background-color: transparent;
}
.navbar .navbar-brand{
    font-size: 80px;
    color:  #010ea5;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold; 
    position: absolute;
    left: 20px;
 }
.navbar .container-fluid{
    height: 100px;
}
.navbar .navbar-collapse ul{
    margin: 10px auto;
    color: white;
    font-size: 25px;
}
.navbar .nav-link{
    color: white;
    margin-right: 30px;
}
.navbar .btn{
    padding: 10px 30px;
    background-color: #010ea5;
    color:white
}
.navbar .btn .nav-link{
    color:white;
    margin-right: 0;
}
.navbar-toggler{
    border: 2px solid white;
    right: 50px;
    position: absolute;
}
.navbar ul{
    text-align:center
}
.main-concept{
    position: absolute;
    top: 50%;
    font-size: 30px;
    color: white;
}
.main-concept p{
    position: absolute;
    left: 87px;
    letter-spacing: 2px;
    width: 645px;
    top: -22px;
    text-align: left;
}


.d-flex .btn{
    right: 50px;
    position: relative;
}

/************************ About Us ************************/
.about-us{
    margin-top: 20px;
}
.about-us hr{
    width: 12%;
    margin: 0 40px;
}
.about-us .about-us-text{
    padding-top: 60px;
}
.about-us img{
    float: right;
}
/*********************** Why Us *************************/
.why-us{
    margin-top: 20px;
    margin-bottom: 100px;

}
.why-us-container{
    margin-left: 90px;
    margin-top: 90px;
    height: 400px;
}
.why-us .card{
    margin-right: 57px;
    text-align: center;
    height: 300px;
    box-shadow: 10px 10px 10px #969393;
}
.why-us .first-card,
.why-us .third-card{
    background-color: #db8ac2;
}
.why-us .second-card {
    position: relative;
    top: 70px;
    background-color: #040477;
}
/*********************** reg-form ***********************/
.reg-form{
    margin-bottom: 200px;
}
.form-container{
    margin-top: 70px;
}
.form-structure{
    border: 1px solid gray;
    box-shadow: 10px 10px 15px #969393;
    padding: 30px;
}
.form-description{
    margin-top: 250px;
    padding-left: 70px;
}
.error-msg{
    width: 100%;
    background-color: #fdd2cfbd;
    border-radius: 10px;
    margin-bottom: 10px;
    color: red;
    font-size: 20px;
    padding: 7px 15px;
}
#error-name,
#error-email,
#error-password{
    display: none;
}
.reg-form .btn .nav-link{
    color:white;
    margin-right: 0;
}

/*The hidden Form*/
#regs_form-hidden{
    display: none;
}
#submit-btn-form,
#sign-in{
    border-radius: 20px;
    margin-right: 20px;
}
#positionSelect{
    padding: 5px !important;
    border: 5px double gray !important;
}
/************************* Footer ***********************/
footer{
    background-color: #040477;
    color: white;
}
footer .container-fluid{
    height: 100%;
}
.footer-container{
    width: 100%;
    margin: 0;
    padding: 0;
}
footer .contact-us{
    border-right: 1px solid white;
    padding: 20px;
}
footer .contact-us a{
    color: white;
    text-decoration: none;
}
.contact-us .icons span{
    display: block;
    margin: 15px;
    cursor: pointer;
}
.footer-text{
    padding-left: 0;
}
.footer-text .visit-us{
    border-bottom: 1px solid;
    padding: 23px 20px;
    height: 225px;
}
.footer-text .visit-us-info{
    padding: 50px 0px;
}
.footer-text .all-rights-reserved{
    padding: 20px 20px 0 20px;
}


#nextButton{
    display: none;
}
@media (max-width:1420px){
    .why-us{
        height: 720px;
    }
}
@media (max-width:992px) {
    .navbar-toggler{
        right: 15%;
    position: absolute;
    }
    .navbar-collapse,
    .collapse,
    .collapse.show{
        position: absolute;
        width: 40%;
        top: 70px;
        opacity: 0.9;
        right: 20px;
        background-color: rgb(92 92 95);
        z-index: 111;
    }
    header{
        height:500px;
    }
    
    .header-container{
        height: 400px;
    width: 100%;
    }
    header .container-fluid {
        height: 1000px;
        position: absolute;
        top: 0;
    }
    header .main-concept {
        position: absolute;
        top: 50%;
    }
    header .main-concept p{
        margin-top: 0;
        font-size: 30px;
        text-align: center;
    }
    .navbar .nav-link {
        margin-right: 0 !important;
    }
    .d-flex .btn{
        position: relative;
    width: 100%;
    right: 0;
    }
    .about-us-text{
        text-align: center;
    }
    .about-us-text hr{
        margin: auto;
    }
    .about-us-img img{
        float: unset;
        margin: 20px auto;
        text-align: center;
        left: 25%;
        position: relative;
    }
    .card{
        margin: auto;
    }
    .why-us{
        height: unset!important;
    }
    .why-us .first-card,
    .why-us .second-card,
    .why-us .third-card{
        margin: auto;
    }
    .why-us .second-card{
        position: relative;
        top: 0px
    }
    .why-us hr{
        margin-bottom: 40px !important;
    }
    .why-us-container{
        margin: unset;
        height: unset;
    }
    /*******************************************/
    #submit-btn-form{
    margin-bottom: 20px !important;
    }
    footer .contact-us{
        border-right:unset ;
    }
    .visit-us,
    .all-rights-reserved{
        text-align: center;
    }
    .footer-text{
        padding: 10px 13px;
    }
}
@media (max-width:750px) {
    header {
        height: 300px;
    }
   header .main-concept p{
        position: absolute;
        font-size: 20px !important;
        letter-spacing: 2px;
        width: 487px;
        top: -52px;
    }
    footer .contact-us{
        border-right:unset ;
    }
}
@media(max-width:500px){
    header {
        height: 280px;
    }
    header .main-concept p{
    position: absolute;
        font-size: 15px !important;
        letter-spacing: 2px;
        width: 487px;
        top: -52px;
        left: 10px;}
        footer .contact-us{
            border-right:unset ;
        }
}